<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuanLySanBong"
        tools:targetApi="31">
        <activity
            android:name=".activity.admin.SalaryDetailsActivityAdmin"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.admin.SalaryDetailsActivityStaff"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.admin.ShowDetailsStatistical"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.admin.ShowCaThiDauActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.user.ChangePassActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.user.ChangeProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.user.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.user.ProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.SelectTypeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.user.NapTienActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.CategoryPitchActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.CategoryManagerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.user.UserDatSanChiTietActivity"
            android:exported="false" />
        <activity
            android:name=".activity.user.UserMainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.ListServiceActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.ListCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.SplashActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.MainActivity"
            android:exported="false" />
        <activity android:name=".activity.admin.DatSanChiTietActivity" />
        <activity
            android:name=".activity.admin.FormActivity"
            android:exported="false" />
    </application>

</manifest>